
.container {
    margin: 0 auto;
    text-align: center;
}


.emptyBtn {
    padding: 10px 20px 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    margin-top: 20px;
    text-align: center;
   
}

.empty:hover {
    background-color: rgba(128, 128, 128, 0.507);
}